@import 'variables'
    
@media screen and (max-width: 1440px)
    #serviceTitle .imgContainer
        right: -13%
        width: 82%
    #serviceTitle .decs .dec
        left: 13%
        width: 52%
    #projects::after
        left: 40%